/*
 * Copyright (c) 2023 David Ullmann
 * SPDX-License-Identifier: Apache-2.0
 */

/ 
{
    aliases {
        lora0 = &rylr_lora_modem;
    };
};

&p5_1_scb5_uart_tx {
	drive-push-pull;
};

&p5_0_scb5_uart_rx {
	input-enable;
};

uart5: &scb5 {
    compatible = "infineon,cat1-uart";
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&p5_0_scb5_uart_rx &p5_1_scb5_uart_tx>;
    pinctrl-names = "default";

    rylr_lora_modem: rylr_lora_modem {
            compatible = "reyax,rylrxxx";
            status= "okay";
    };
};
